@font-face{
    font-family: NotoSansKR-Bold;
    src:url(../font/NotoSansKR-Bold.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Medium;
    src:url(../font/NotoSansKR-Medium.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Light;
    src:url(../font/NotoSansKR-Light.otf);
    font-weight: normal;
}

#topmenu {
    height: 30px;
    width: 850px;
    align-content: center;
}

#topmenu ul li {
    list-style: none;
    color: black;
    background-color: none;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: middle;
}

#topmenu .menulink {
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    font-size: 15px;
    font-weight: 13px;
    font-family: ;
    padding-top: 40px;
    
}

#topmenu .menuimg {
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 0px 0px 0px 0px;
}

body {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.effect {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.effect:hover {
    transform: scale(1.2);
}

table {
    margin-left: center;
    margin-right: center;   
}

.title {
    font-family: NotoSansKR-Bold;
    font-size: 40px;
    text-align: left;
    position: relative;
    top: 30px;
    left: 30px;
}

.subtitle {
    font-family: NotoSansKR-Medium;
    font-size: 25px;
    text-align: left;
    line-height: 20%;
    color: cadetblue;
    position: relative;
    top: 30px;
    left: 30px;
    
}

.introduce {
    font-family: NotoSansKR-Light;
    text-align: left;
    letter-spacing: 0.5px;
    line-height:30px;
    font-size: 20px;
    width: 1000px;
    margin: 50px;
    position: relative;
    top: 30px;
    left: 30px;
}

.detail {
    font-family: NotoSansKR-Light;
    text-align: left;
    letter-spacing: 0.5px;
    line-height:30px;
    font-size: 20px;
    width: 1000px;
    margin: 60px;
    position: relative;
    left: 370px;
}

footer{
    font-family: MaruBuri-Regular;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
}