@font-face{
    font-family: NotoSansKR-Bold;
    src:url(../font/NotoSansKR-Bold.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Medium;
    src:url(../font/NotoSansKR-Medium.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Light;
    src:url(../font/NotoSansKR-Light.otf);
    font-weight: normal;
}

.main_container{
    overflow: hidden;
    padding 0 0 30px 0;
    width: 900px;     
    margin: 0 auto;    
}

.sidebar{
    float:left;
    margin: 20px 0px 30px 0px;
    padding: 0px 0 30px 0;
    width: 200px;
}

.section-title{
    font-family: NotoSansKR-Bold;
    text-align: left;
    font-size: 30px;
    color: skyblue;
    padding: 20px 0 20px 20px;
}

.sidebar ul{
    padding: 0;
}
.sidebar li{ 
    text-align: left;
    border-bottom: white 3px solid; 
    list-style: none;
    width:80%;
}

.sidebar li:last-child{
    border-bottom: white 3px solid;
}

.sidebar li a{
    font-family: NotoSansKR-Light;
    font-size: 20px;
    display: block;
    padding:15px 20px;
    text-decoration: none;
    color:black;
}

.sidebar li a:hover{
    color:white;
    background: skyblue;
    border-radius: 0px 20px 20px 0;
}
.sidebar li .current{
    color: white;
    background: skyblue;
    border-radius: 0px 20px 20px 0;
}

.maincol{
    float: left;
    margin: 0 20px 0 120px;
    padding: 30px 0 30px 0;
    width: 400px;
}

.product{
    font-family: NotoSansKR-Medium;
    text-align: center;
}

.price{ 
    font-family: NotoSansKR-Light;
    text-align: center;
}
