#topmenu {
    height: 30px;
    width: 850px;
    align-content: center;
}

#topmenu ul li {
    list-style: none;
    color: black;
    background-color: none;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: middle;
}

#topmenu .menulink {
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    font-size: 15px;
    font-weight: 13px;
    font-family: ;
    padding-top: 40px;
    
}

#topmenu .menuimg {
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 0px 0px 0px 0px;
}