@font-face{
    font-family: NotoSansKR-Bold;
    src:url(../font/NotoSansKR-Bold.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Medium;
    src:url(../font/NotoSansKR-Medium.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Light;
    src:url(../font/NotoSansKR-Light.otf);
    font-weight: normal;
}

#contents {
    width: 940px;
    text-align: left;
    padding: 5px; 10px;
    border-top: none;
    margin: 0 auto;
}

#contents nav {
    border-top: 20px solid white;
    border-bottom: 7px solid skyblue;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#contents nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
}

#contents nav li {
    box-sizing: border-box;
    float: left;
    border-right: 1px solid white;
    width: 25%;
}

#contents nav li:last-child {
    border-right: 0;   
}

#contents nav a {
    font-family: NotoSansKR-Light;
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
}

#contents nav a:hover {
    background: skyblue;
    color: white;
}

#contents .current {
    background: skyblue;
    color:white;
}

.carousel {
    display: block;
    width: 940px;
    height: 450px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: auto;
}

.carousel li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    animation: slide 12s ease infinite forwards;
}

.carousel li:nth-child(1){
    opacity: 1;
    z-index: 3;
    animation-delay: 2s;
}

.carousel li:nth-child(2){
    z-index: 2;
    animation-delay: 8s;
}

.carousel li:nth-child(3){
    z-index: 1;
    animation-delay: 18s;
}

@keyframes slide{
    0%{opacity:1; left:0;}
    33.33%{opacity:0.5; left:-120%;}
    34%{opacity:0;}
    66.66%{left: 0; opacity: 0;}
    100%{opacity: 1;}
}

table {
    margin: auto;
    padding: 60px;
    border-spacing: 50px;
}

footer{
    font-family: NotoSansKR-Light;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
}

