@font-face {
    font-family: MaruBuri-Regular;
    src:url(../font/MaruBuri-Regular.otf);
    font-weight:normal;
}

@font-face{
    font-family: FrankRuhlLibre-Regular;
    src:url(../font/FrankRuhlLibre-Regular.ttf);
    font-weight: normal;
}

@font-face{
    font-family: Spoqa Han Sans Regular;
    src:url(../font/Spoqa Han Sans Regular.ttf);
    font-weight: normal;
}

#topmenu {
    height: 30px;
    width: 850px;
    align-content: center;
}

#topmenu ul li {
    list-style: none;
    color: black;
    background-color: none;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: middle;
}

#topmenu .menulink {
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    font-size: 15px;
    font-weight: 13px;
    font-family: ;
    padding-top: 40px;
    
}

#topmenu .menuimg {
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 0px 0px 0px 0px;
}

body{
    font-family: MaruBuri-Regular;
    text-align: center;
    padding: 0;
    margin: 0;
}

p class{
    font-family: MaruBuri-Regular;
    font-size: 15px;
}

footer{
    font-family: MaruBuri-Regular;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
}
