@font-face{
    font-family: NotoSansKR-Bold;
    src:url(../font/NotoSansKR-Bold.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Medium;
    src:url(../font/NotoSansKR-Medium.otf);
    font-weight: normal;
}

@font-face{
    font-family: NotoSansKR-Light;
    src:url(../font/NotoSansKR-Light.otf);
    font-weight: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding: 0;
    margin: 0;
}

.title {
    font-family: NotoSansKR-Bold;
    font-size: 40px;
    text-align: center;   
}

.story{
    font-family: NotoSansKR-Medium;
    text-align: center;
    letter-spacing: 0.5px;
    line-height:30px;
    font-size: 20px;
    width: 1000px;
    margin: 50px;
}

.container {
    display: table;
    width: 1000px;
    height: 900px;
    background-color: white;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    border-radius: 50px;
}

.box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
}

#topmenu {
    height: 30px;
    width: 850px;
    margin: auto;
}

#topmenu ul li {
    list-style: none;
    color: black;
    background-color: none;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: middle;
}

#topmenu .menulink {
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    font-size: 15px;
    font-weight: 13px;
    font-family: ;
    padding-top: 40px;
    
}

#topmenu .menuimg {
    text-decoration: none;
    display: block;
    width: 150px;
    position: relative;
    padding: 0;
    margin: auto;
}
.carousel {
    display: block;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: auto;
}

.carousel li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    animation: slide 12s ease infinite forwards;
}

.carousel li:nth-child(1){
    opacity: 1;
    z-index: 3;
}

.carousel li:nth-child(2){
    z-index: 2;
    animation-delay: 4s;
}

.carousel li:nth-child(3){
    z-index: 1;
    animation-delay: 8s;
}

@keyframes slide{
    0%{opacity:1; left:0;}
    33.33%{opacity:0.5; left:-120%;}
    34%{opacity:0;}
    66.66%{left: 0; opacity: 0;}
    100%{opacity: 1;}
}